---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
/*
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
    
    return [];
}) satisfies GetStaticPaths;
*/

export async function getStaticPaths() {
    const posts = await Astro.glob('../posts/*.md');
    const tags = [...new Set(posts.map((posts) => posts.frontmatter.tags).flat())];
    return tags.map((tag) => {
        const tagged = posts.filter((post) => post.frontmatter.tags?.includes(tag));
        return {
            params: { tag },
            props: { posts: tagged },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts with {tag}</p>
    {
        posts.length > 0 ? (
            posts.map((post) => (
                <ul>
                    <li>
                        <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate} />
                    </li>
                </ul>
            ))
        ) : (
            <p>
                <em>Nada</em>
            </p>
        )
    }
</BaseLayout>
